<div class="product-info-tabs">
  <nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
      <a class="nav-item nav-link pointer description" (click)="toggleTab()">Описание</a>
      <a class="nav-item nav-link pointer feedbacks" (click)="toggleTab()">Отзывы {{product?.feedbacksCount}}</a>
    </div>
  </nav>
  <div class="tab-content">
    <ng-container *ngIf="isShowDescription; else feedbacks">
      <div class="product-description" >{{product?.description}}</div>
    </ng-container>
    <ng-template #feedbacks>
      <ngx-shop-feedbacks
        class="add-feedback-block"
        [feedbacks]="product?.feedbacks"
      ></ngx-shop-feedbacks>
    </ng-template>
  </div>
</div>
